@page "/google-signin"

<main>
    <article class="content px-4">
        <PageTitle>CDK Manager</PageTitle>
    

        <meta name="google-signin-client_id" content="564238425399-gn5ng2j0eirmttcb8fv4teoad4ombrvt.apps.googleusercontent.com">
        
        <div class="g-signin2" ></div>
    </article>
</main>


@code
{


}
