@page "/stack/{stackName?}"

<style>
    .stack-body {
        border: 1px dashed orange;
        padding: 10px;
    }
</style>

<PageTitle>@StackName</PageTitle>

<h4>@StackName</h4>
<div class="stack-body">
    
    
</div>

<button>Synth</button>


@code {
    [Parameter]
    public string? StackName { get; set; }


}
