/* _content/cdkManager.web/Shared/MainLayout.razor.rz.scp.css */
.page[b-ykuwlehn9c] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ykuwlehn9c] {
    flex: 1;
}

.sidebar[b-ykuwlehn9c] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ykuwlehn9c] {
    background-color: #f7f7f7;

    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}


    .top-row[b-ykuwlehn9c]  a, .top-row .btn-link[b-ykuwlehn9c] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ykuwlehn9c] {
        overflow: hidden;
        text-overflow: ellipsis;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ykuwlehn9c] {
        display: none;
    }

    .top-row.auth[b-ykuwlehn9c] {
        justify-content: space-between;
    }

    .top-row a[b-ykuwlehn9c], .top-row .btn-link[b-ykuwlehn9c] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ykuwlehn9c] {
        flex-direction: row;
    }

    .sidebar[b-ykuwlehn9c] {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ykuwlehn9c] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ykuwlehn9c], article[b-ykuwlehn9c] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.navbar[b-ykuwlehn9c] {
    background-color: rgb(35, 47, 62);
}
/* _content/cdkManager.web/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-adll4csw2l] {
    background-color: white;
}

.top-row[b-adll4csw2l] {
    height: 3.5rem;
    background-color: white;
}

.navbar-brand[b-adll4csw2l] {
    font-size: 1.1rem;
    color: #16191f;
}
.navbar-dark .navbar-brand:focus[b-adll4csw2l], .navbar-dark .navbar-brand:hover[b-adll4csw2l] {
    color: #16191f;
}

.oi[b-adll4csw2l] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-adll4csw2l] {
    color: #16191f;
    background-color: white;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-adll4csw2l] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-adll4csw2l] {
        padding-bottom: 1rem;
    }

    .nav-item[b-adll4csw2l]  a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-adll4csw2l]  a.active {
            background-color: white;
            color: rgb(236, 114, 17);
        }

        .nav-item[b-adll4csw2l]  a:hover {
            background-color: white;
            color: rgb(236, 114, 17);
        }

@media (min-width: 641px) {
    .navbar-toggler[b-adll4csw2l] {
        display: none;
    }

    .collapse[b-adll4csw2l] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/cdkManager.web/Shared/StackListComponent.razor.rz.scp.css */
.page[b-ngdds9h38l] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ngdds9h38l] {
    flex: 1;
}

.sidebar[b-ngdds9h38l] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ngdds9h38l] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ngdds9h38l]  a, .top-row .btn-link[b-ngdds9h38l] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ngdds9h38l] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ngdds9h38l] {
        display: none;
    }

    .top-row.auth[b-ngdds9h38l] {
        justify-content: space-between;
    }

    .top-row a[b-ngdds9h38l], .top-row .btn-link[b-ngdds9h38l] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ngdds9h38l] {
        flex-direction: row;
    }

    .sidebar[b-ngdds9h38l] {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ngdds9h38l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ngdds9h38l], article[b-ngdds9h38l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
