@if (SelectedStack == null)
{
    <div>Loading...</div>
}
else
{

    <input @bind="SelectedStack.StackName"/>

    <ul>
        @if (SelectedStack.Buckets != null)
        {
            foreach (var bucket in SelectedStack.Buckets)
            {
                <li>@bucket.BucketName</li>
            }
        }
    </ul>
}