@using cdkManager.Data
@inject IModals _modals;
@inject IRepository<Models.Vpc> _vpcRepository;
    <article class="content px-4">

        <div class="container bd">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <strong>
                        <a class="navbar-brand" href="#">Vpcs</a>
                    </strong>(@Vpcs.Count)
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        </ul>

                        <div class="d-flex">
                            <button class="btn btn-primary" @onclick="_modals.VpcModal.Toggle">Create Vpc</button>
                        </div>
                    </div>
                </div>
            </nav>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Deployed</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Vpcs != null)
                    {
                        @foreach (var Vpc in Vpcs)
                        {
                            <tr>
                                <td></td>
                                <td><a>@Vpc.VpcName</a></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>

                        }
                    }
                    else
                    {
                        <tr><td>Loading...</td></tr>
                    }
                </tbody>
            </table>
        </div>
        </article>

    @if (_modals.VpcModal.Visible)
    {
        <div class="modal" tabindex="-1" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Vpc</h5>
                        <button type="button" class="btn-close" aria-label="Close" @onclick="_modals.VpcModal.Toggle"></button>
                    </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="VpcName" class="form-label">Vpc Name</label>
                                <input type="text" class="form-control" id="VpcNameInput" aria-describedby="Stack Name" @bind-value="_modals.VpcModal.Data.VpcName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            @* <button class="btn btn-primary" @onclick="() => SaveNewStack(Modals.StackModal)">Submit</button> *@
                        </div>
                </div>
            </div>
        </div>
    }
    
    
    @code
    {

        [Parameter]
        public IList<Models.Vpc>? Vpcs { get; set; }



        public async void SaveNewVpc(Modal<Models.Bucket> modal)
        {
        }
    }

