.page[b-ykuwlehn9c] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ykuwlehn9c] {
    flex: 1;
}

.sidebar[b-ykuwlehn9c] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ykuwlehn9c] {
    background-color: #f7f7f7;

    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}


    .top-row[b-ykuwlehn9c]  a, .top-row .btn-link[b-ykuwlehn9c] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ykuwlehn9c] {
        overflow: hidden;
        text-overflow: ellipsis;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ykuwlehn9c] {
        display: none;
    }

    .top-row.auth[b-ykuwlehn9c] {
        justify-content: space-between;
    }

    .top-row a[b-ykuwlehn9c], .top-row .btn-link[b-ykuwlehn9c] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ykuwlehn9c] {
        flex-direction: row;
    }

    .sidebar[b-ykuwlehn9c] {
        width: 280px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ykuwlehn9c] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ykuwlehn9c], article[b-ykuwlehn9c] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.navbar[b-ykuwlehn9c] {
    background-color: rgb(35, 47, 62);
}