.navbar-toggler[b-rrhdc0d0nk] {
    background-color: white;
}

.top-row[b-rrhdc0d0nk] {
    height: 3.5rem;
    background-color: white;
}

.navbar-brand[b-rrhdc0d0nk] {
    font-size: 1.1rem;
    color: #16191f;
}
.navbar-dark .navbar-brand:focus[b-rrhdc0d0nk], .navbar-dark .navbar-brand:hover[b-rrhdc0d0nk] {
    color: #16191f;
}

.oi[b-rrhdc0d0nk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rrhdc0d0nk] {
    color: #16191f;
    background-color: white;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rrhdc0d0nk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rrhdc0d0nk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rrhdc0d0nk]  a {
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-rrhdc0d0nk]  a.active {
            background-color: white;
            color: rgb(236, 114, 17);
        }

        .nav-item[b-rrhdc0d0nk]  a:hover {
            background-color: white;
            color: rgb(236, 114, 17);
        }

@media (min-width: 641px) {
    .navbar-toggler[b-rrhdc0d0nk] {
        display: none;
    }

    .collapse[b-rrhdc0d0nk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
